@model ValidationSample.Models.ContactModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
</head>
<body>
    <h1>Contacts</h1>
    <form method="post">
        <fieldset>
            <legend>Contact Details</legend>
            <p>
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
            </p>
            <p>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
            </p>
            <p>
                @Html.LabelFor(x => x.DateOfBirth)
                @Html.TextBoxFor(x => x.DateOfBirth)
            </p>
            <p>
                @Html.LabelFor(x => x.PhoneNumber)
                @Html.TextBoxFor(x => x.PhoneNumber)
            </p>
        </fieldset>
        <button type="submit">Add Contact</button>
    </form>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="~/Content/js/Contacts.Add.js"></script>
</body>
</html>